body{
background-color:#FFF;
font-size: 87.5%;
font-family: Arial, San-Serif;
line-height: 1.5;
text-align: left;
}


h3{
  line-height: 9%;
  padding: 1% 0;
}

p{
 padding: 1%;
 padding-left: 8%;
 padding-right: 8%;
 line-height: 2;
 font-family: Verdana, Geneva, sans-serif;
}


.body{
margin: 0 auto;
width: 70%;
clear: both;
}

a{
text-decoration: none;
}


.mainheader img{
 width: 30%;
 height: 30%;
 margin-top: 1%;
}

.mainheader nav{
  background-color: #75bac3;
  height : 40px;
  border-radius: 5px;
}

.mainheader nav ul{
  list-style: none;
  margin: 0 auto;
  
}

.mainheader nav ul li{
 float:left;
 display: inline;
 
}

.mainheader nav a:link, .mainheader nav a:visited{
 color: #FFF;
 font-size: 120%;
 display: inline-block;
 padding: 10px 25px;
 height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited{
  background-color: #CF5C3F;
  text-shadow: none;
}

.mainheader nav ul li a{
   border-radius: 5px;
}


.maincontent ul{
list-style: none;
}

#counter{
margin-left: 250px;
}

#more{
	margin-left: 45%;
}

.morebutton{
border: 4px groove black;
background-color:#75bac3;
font-size: 150%;
color: black;
padding: 3%;
}


#table{
	border: 2px solid #EEE;
}